/* ブラウザがそれぞれ持っているCSSをリセットするため */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* clearfixを追加 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main-visual-image{
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.main-visual-title{
  padding:20px 0 0 20px;
}

main {
  width: 840px;
  margin: 50px auto;
}

.service{
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}

