/* ブラウザがそれぞれ持っているCSSをリセットするため */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* clearfixを追加 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

.blog {
  width: 960px;
  margin: 50px auto;
}

.box {
  position: relative;
  width: 300px;
  float: left;
  margin: 0 auto;
}

.box:nth-child(2){
  margin: 0 30px;
}

.Contents {
  padding: 10px 10px;
  background-color: #eeeeee;
}

.title {
  position: absolute;
  background-color: #ff9a4b;
  color: white;
  top: 0;
  left: 0;
}

.image{
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.Contents h3{
  margin-top: 15px;
  margin-bottom: 5px;
}

.image2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}
.image3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

footer{
  height: 50px;
  background-color: #aaaaaa;
}


/* レスポンシブ対応させる */
@media screen and (max-width:425px) {
  .blog {
    width: 100%;
  }

  .box {
    width: 90%;
    float: none;
    margin-top:20px;
    margin-bottom: 20px;
  }

  .box:nth-child(2){
    float: none;
    margin: 20px auto;
  }






}