/* ブラウザがそれぞれ持っているCSSをリセットするため */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* clearfixを追加 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.picture1{
  background-image: url(img/box1.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
}

.picture2{
  background-image: url(img/box2.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
}

.picture3{
  background-image: url(img/box3.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
}

.picture4{
  background-image: url(img/box4.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
}